---
import photoData from '../../data/photos';
import Photos from '../../layouts/photos-layout.astro'
import PhotoCommentButton from '../../components/photo-comment-button.jsx'

const pageSize = 5
const totalPage = Math.ceil(photoData.length / pageSize)
const pages = Array.from({length: totalPage}).map((_, i) => i + 1)

export async function getStaticPaths() {
  const pageSize = 5
  const totalPage = Math.ceil(photoData.length / pageSize)
  const pages = Array.from({length: totalPage}).map((_, i) => i + 1)
  return pages.map(page => {
    return {
      params: {
        page: page,
      }
    }
  })
}

let {page} = Astro.params
let _page = page ? Number(page) : 1

let _photoData = photoData.slice((_page - 1) * pageSize, _page * pageSize)
---

<Photos pageName={"photos"}>
  <div class="py-[3rem] text-sm max-w-[44rem] w-full mx-auto italic">
    Play with lights and shadows.
  </div>

  <div>
    {
      _photoData.map(photo => {
        return (
          <div class="mb-[3rem] flex justify-center flex-wrap group min-h-[3rem]">
            <div class="flex items-center mb-2 flex-wrap w-full justify-center">

              <div class="flex items-center mr-2 mb-2" style={{
                display: photo.date ? 'flex' : 'none'
              }}>
                <div class="text-xs ml-1 font-mono">
                  <span>{photo.date}</span>
                </div>
              </div>

              <div class="flex items-center mr-2 mb-2" style={{
                display: photo.desc ? 'flex' : 'none'
              }}>
                <div class="text-xs ml-1 font-mono">
                  <span>{photo.desc}</span>
                </div>
              </div>

              <div class="w-full h-[1px]">

              </div>

              <div class="flex items-center opacity-70 mr-2 mb-2" style={{
                display: photo.fNumber ? 'flex' : 'none'
              }}>
                <div class="text-[10px] ml-1 font-mono">
                  <span>光圈 f/{photo?.fNumber}</span>
                </div>
              </div>

              <div class="flex items-center opacity-70 mr-2 mb-2" style={{
                display: photo.focalLength ? 'flex' : 'none'
              }}>
                <div class="text-[10px] ml-1 font-mono">
                  <span>焦段 {photo?.focalLength}</span>
                </div>
              </div>

              <div class="flex items-center opacity-70 mr-2 mb-2" style={{
                display: photo?.exposureTime ? 'flex' : 'none'
              }}>
                <div class="text-[10px] ml-1 font-mono">
                  <span>快门 {photo?.exposureTime}s</span>
                </div>
              </div>

              <div class="flex items-center opacity-70 mr-2 mb-2" style={{
                display: photo?.iso ? 'flex' : 'none'
              }}>
                <div class="text-[10px] ml-1 font-mono">
                  <span>ISO {photo?.iso}</span>
                </div>
              </div>
            </div>
            <img src={photo.url} alt={photo?.desc} loading="lazy" class="max-h-dvh"/>
            <PhotoCommentButton url={photo.url} alt={photo.desc ? photo.desc : ''} client:only="solid-js"/>
          </div>
        )
      })
    }
  </div>
  <div class="flex justify-center items-center flex-wrap">
    {
      pages.map((page, index) => {
        let _p = page === 1 ? '' : page
        return (
          <>
            <a href={"/photos/" + _p} class="flex justify-center items-center px-3 py-2 rounded-3xl text-xs mb-2 font-mono" class:list={{
              'dark:bg-white/10 bg-black/10': (index + 1) === _page
            }}>
              {page}
            </a>
          </>
        )
      })
    }
  </div>
</Photos>
