<header>
  <div class="logo">
    <a href="<%- config.url %>">
      <img src="/images/logo-black.png" class="dark" alt="<%- config.title %>">
      <img src="/images/logo.png" class="light" alt="<%- config.title %>">
    </a>
  </div>
  <desc>
    <%- config.description %>
  </desc>
  <div class="flex-fix"></div>
  <div class="navigation">
    <ul>
      <% site.data.data.pages.forEach((item, index) => { %>
        <% if(index !== 0) { %>
          <span class="sep"> / </span>
        <%}%>
        <li>
          <a href="<%- url_for(item.url) %>"><%- item.icon %>&nbsp;<%- item.name %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</header>