---
import { getCollection } from 'astro:content'
import IndexLayout from "../../layouts/index-layout.astro";
import dayjs from "dayjs";

export async function getStaticPaths() {
  let allPosts = await getCollection('posts')
  let allTags = []
  allPosts.map(post => {
    allTags = allTags.concat(post.data.tags)
  })

  return allTags.map(tag => {
    return {
      params: {
        tag: tag,
      }
    }
  })
}

let allPosts = await getCollection('posts')

const extractDateFromSlug = (slug) => {
  let date_array = slug.split('-')
  let year = date_array[0]
  let month = date_array[1]
  let day = date_array[2]
  return `${year}-${month}-${day}`
}

allPosts.sort((a, b) => {
  let dateA = new Date(extractDateFromSlug(a.slug)).getTime()
  let dateB = new Date(extractDateFromSlug(b.slug)).getTime()
  return dateB - dateA
})

const currentTag = Astro.params.tag
---

<IndexLayout>
  <div>
    <div class="py-[3rem] italic">{currentTag}</div>
    <ul class="mb-4">
      {
        allPosts.map((post) => {

          if(!post.data.tags.includes(currentTag)){
            return
          }

          let { deprecated } = post.data
          let date_str = post.slug

          let date_array = date_str.split('-')
          let year = date_array[0]
          let month = date_array[1]
          let day = date_array[2]

          let date = `${year}-${month}-${day}`

          let datePath = date.split('-').join('/')
          let postPath = post.slug.slice(11)

          return (
            <li class="group">
              <a href={`/${datePath}/${postPath}`} class="block mb-8 group">
                <div class="text-xs mb-2">
                  <span class="opacity-80">
                    {dayjs(date).format('MMMM D, YYYY')}
                  </span>
                  {deprecated && (
                    <span class="ml-2 text-red-500 dark:text-red-400">
                      deprecated
                    </span>
                  )}
                </div>
                <div class="text-base font-semibold whitespace-nowrap overflow-hidden text-ellipsis group-hover:underline underline-offset-4">
                  {post.data.title}
                </div>
              </a>
            </li>
          )
        })
      }
    </ul>

    <div class="text-center pt-8">
      <a href="/tags" class="dark:bg-neutral-800 bg-neutral-100 rounded-full text-sm px-6 py-2 flex items-center w-[10rem] mx-auto hover:shadow-xl dark:hover:bg-neutral-600 transition-shadow">
        <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left w-5 h-5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
        <span class="ml-1">查看所有分类</span>
      </a>
    </div>
  </div>
</IndexLayout>
