---
import IndexLayout from '../../layouts/index-layout.astro'
import {getCollection} from 'astro:content'

const allPosts = await getCollection('posts')

const extractDateFromSlug = (slug) => {
  let date_array = slug.split('-')
  let year = date_array[0]
  let month = date_array[1]
  let day = date_array[2]
  return `${year}-${month}-${day}`
}

allPosts.sort((a, b) => {
  let dateA = new Date(extractDateFromSlug(a.slug)).getTime()
  let dateB = new Date(extractDateFromSlug(b.slug)).getTime()
  return dateB - dateA
})

let allTags = {}

allPosts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    if (allTags[tag]) {
      allTags[tag].push(post.slug)
    } else {
      allTags[tag] = [post.slug]
    }
  })
})

let countSortedTags = []
Object.keys(allTags).map(key => {
  countSortedTags.push({
    count: allTags[key].length,
    label: key
  })
})

countSortedTags.sort((a, b) => {
  return b.count - a.count
})
---

<IndexLayout pageName="tags">
  <div>
    <div class="py-[3rem] italic">Tags</div>

    <div class="">
      <input type="checkbox" id="showCountSorted" class="peer/showCountSorted leading-6 text-sm inline-block">
      <label for="showCountSorted" class="text-sm leading-6 inline-block">
        以数量倒序展示
      </label>

      <div class="flex mt-4 flex-wrap items-center content-center text-xs peer-checked/showCountSorted:hidden">
        {
          Object.keys(allTags).map((tag, index) => {
            return (
              <>
                <a
                  transition:name={tag}
                  class="dark:bg-neutral-800 bg-neutral-100 hover:text-white hover:bg-neutral-800 dark:hover:text-black dark:hover:bg-white rounded-3xl px-2 py-1 mb-2 mr-2" href={`/tags/${tag}`}>{tag}({allTags[tag].length})</a>
              </>
            )
          })
        }
      </div>

      <div class="mt-4 flex-wrap items-center content-center text-xs peer-checked/showCountSorted:flex hidden">
        {
          countSortedTags.map(tag => {
            return (
              <>
                <a
                  transition:name={tag.label}
                  class="dark:bg-neutral-800 bg-neutral-100 hover:text-white hover:bg-neutral-800 dark:hover:text-black dark:hover:bg-white rounded-3xl px-2 py-1 mb-2 mr-2" href={`/tags/${tag.label}`}>{tag.label}({tag.count})
                </a>
              </>
            )
          })
        }
      </div>
    </div>


  </div>
</IndexLayout>
