---
import IndexLayout from '../../layouts/index-layout.astro'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')

const extractDateFromSlug = (slug) => {
  let date_array = slug.split('-')
  let year = date_array[0]
  let month = date_array[1]
  let day = date_array[2]
  return `${year}-${month}-${day}`
}

allPosts.sort((a, b) => {
  let dateA = new Date(extractDateFromSlug(a.slug)).getTime()
  let dateB = new Date(extractDateFromSlug(b.slug)).getTime()
  return dateB - dateA
})

let allTags = {}

allPosts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    if (allTags[tag]) {
      allTags[tag].push(post.slug)
    } else {
      allTags[tag] = [post.slug]
    }
  })
})
---

<IndexLayout pageName="tags">
<div>
  <div class="py-[3rem] italic">Tags</div>

  <div class="flex flex-wrap items-center content-center text-xs">
    {
      Object.keys(allTags).map((tag, index) => {
        return (
          <>
            <a class="dark:bg-neutral-800 bg-neutral-100 hover:text-white hover:bg-neutral-800 dark:hover:text-black dark:hover:bg-white rounded-3xl px-2 py-1 mb-2 mr-2" href={`/tags/${tag}`}>{tag}({allTags[tag].length})</a>
          </>
        )
      })
    }
  </div>
</div>
</IndexLayout>
