---
import IndexLayout from '../layouts/index-layout.astro'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')

const extractDateFromSlug = (slug) => {
  let date_array = slug.split('-')
  let year = date_array[0]
  let month = date_array[1]
  let day = date_array[2]
  return {
    year,
    month,
    day
  }
}

allPosts.sort((a, b) => {

  let date_a = extractDateFromSlug(a.slug)
  let date_b = extractDateFromSlug(b.slug)


  let date_a_timestamp = new Date(`${date_a.year}-${date_a.month}-${date_a.day}`).getTime()
  let date_b_timestamp = new Date(`${date_b.year}-${date_b.month}-${date_b.day}`).getTime()
  return date_b_timestamp - date_a_timestamp
})

// create a map for posts, use year as key
const postMap = {}

allPosts.forEach((post) => {
  let date = extractDateFromSlug(post.slug)
  let year = Number(date.year)

  if (!postMap[year]) {
    postMap[year] = []
  }

  postMap[year].push({
    data: post.data,
    slug: post.slug,
    date: `${date.year}-${date.month}-${date.day}`
  })
})

let yearKeys = Object.keys(postMap).sort((a, b) => Number(b) - Number(a))
---

<IndexLayout>
  <div>
    <div class="py-[3rem] italic">{allPosts.length} Posts</div>

    {yearKeys.map(year => <section class="mb-[4rem] md:mb-[2rem] md:pl-[4.2rem]">
      <div class="md:text-[3rem] whitespace-nowrap w-0 text-[2.5rem] leading-5 font-bolder pointer-events-none relative z-20 font-serif md:mb-[0rem] mb-[3rem] h-0 md:rotate-90 rotate-0 origin-top-left md:left-[-2rem] left-[-.2rem] opacity-20">/{year}</div>
      <ul class="relative z-30">
        {postMap[year].map((post) => {
          let { deprecated } = post.data

          return (
            <li class="group">
              <a href={`/${post.date.split('-').join('/')}/${post.slug.slice(11)}`} class="block mb-6">
                <div class="text-xs mb-1">
                  {deprecated && (
                    <span class="text-red-500 dark:text-red-400 font-black">
                      Deprecated
                    </span>
                  )}
                </div>
                <div class="text-base font-semibold whitespace-nowrap overflow-hidden text-ellipsis group-hover:underline decoration-wavy" transition:name={post.slug}>
                  {post.data.title}
                </div>
              </a>
            </li>
          )
        })}
      </ul>
    </section>)}
  </div>
</IndexLayout>
