---
import PageLayout from '../layouts/page-layout.astro'
import Header from '../components/header.astro'
import Nav from '../components/nav.astro'

const friends = [
  {
    name: '落格博客',
    url: 'https://www.logcg.com/',
    slogan: 'Log everything.',
    avatar: 'https://www.logcg.com/favicon.ico'
  },
  {
    name: 'StarryVoid',
    url: 'https://starryvoid.com/',
    slogan: '星光璀璨之空 StarryVoid 的个人博客网站',
    avatar: 'https://starryvoid.com/favicon.ico'
  },
  {
    name: 'Desvl',
    url: 'https://admiraldesvl.github.io',
    slogan: 'Interest comes from thinking.',
    avatar: 'https://desvl.xyz/img/avatar.png'
  },
  {
    name: 'Cyris',
    url: 'https://cyris.moe',
    slogan: '花如解笑还多事，石不能言最可人',
    avatar: 'https://cdn.jsdelivr.net/npm/cyris/images/avatar.png'
  },
  {
    name: 'PRIN BLOG',
    url: 'https://prinsss.github.io/',
    slogan: '半吊子全栈开发者的日常',
    avatar: 'https://printempw.github.io/images/favicon.png'
  },
  {
    name: 'Tony He',
    url: 'https://www.ouorz.com/',
    slogan: 'Living an absolutely not meaningless life with totally not unachievable goals.',
    avatar: 'https://www.ouorz.com/favicon.ico'
  }
]
---

<PageLayout title="My Friends" issue={99}>
  <div slot="header">
    <Header/>
    <Nav highlight="friends"/>
  </div>

  <div slot="content">
    <p class="text-sm">以下是朋友们的博客，顺序为最早到最新，欢迎大家互换友链。</p>
    <div class="py-8">
      {
        friends.map((friend) => {
          return (
            <a
              target="_blank"
              rel="friend colleague noopener"
              href={friend.url}
              class="item flex items-center content-center mb-4 py-4 transition-all group rounded opacity-90 hover:opacity-100 group"
            >
              <div class="flex flex-wrap items-center">
                <div class="w-full sm:w-8 sm:mr-4 sm:mb-0 mb-2 flex items-center justify-start h-8">
                  <img
                    class="w-8 h-8 mx-0 m-0 rounded"
                    src={friend.avatar}
                    alt={friend.name}
                  />
                </div>
                <div class="flex items-center flex-wrap">
                  <div class="text-[1rem] group-hover:font-black w-full">{friend.name}</div>
                  <div class="text-xs mt-2 opacity-80 w-full">{friend.slogan}</div>
                </div>
              </div>
            </a>
          )
        })
      }
    </div>
    <div class="page-content">
      <p>
        互换友链需要您提供：
      </p>
      <ul>
        <li>
          <strong>网站名称</strong>
        </li>
        <li>
          <strong>网站地址</strong>
        </li>
        <li>
          <strong>网站介绍</strong>，30个字以内最好
        </li>
        <li>
          <strong>网站图标/头像</strong>，分辨率最好在 <code>256x256px</code> 以上
        </li>
      </ul>
      <p>
        本站信息：
      </p>
      <ul>
        <li>名称：一个球的博客</li>
        <li>链接：<a href="https://jw1.dev">https://jw1.dev</a></li>
        <li>描述：Front-end Developer / Music Producer</li>
        <li>头像：<a href="https://jw1.dev/favicon.ico">https://jw1.dev/favicon.ico</a></li>
      </ul>
    </div>
  </div>
</PageLayout>
