---
import IndexLayout from '../layouts/index-layout.astro'
import dayjs from 'dayjs'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')

const extractDateFromSlug = (slug) => {
  let date_array = slug.split('-')
  let year = date_array[0]
  let month = date_array[1]
  let day = date_array[2]
  return `${year}-${month}-${day}`
}

allPosts.sort((a, b) => {
  let dateA = new Date(extractDateFromSlug(a.slug)).getTime()
  let dateB = new Date(extractDateFromSlug(b.slug)).getTime()
  return dateB - dateA
})

let renderCount = 0
---

<IndexLayout pageName="index">
  <div>
    <div class="py-[3rem] italic">Recently Posted</div>
    <ul class="mb-4">
      {
        allPosts.map((post) => {
          if(renderCount > 9){
            return
          }

          let { deprecated } = post.data

          let date = extractDateFromSlug(post.slug)

          let datePath = date.split('-').join('/')
          let postPath = post.slug.slice(11)

          renderCount++

          return (
            <li class="group">
              <a href={`/${datePath}/${postPath}`} class="block mb-8">
                <div class="text-xs mb-2">
                  <span class="opacity-80">
                    {dayjs(date).format('YYYY-MM-DD')}
                  </span>
                  {deprecated && (
                    <span class="ml-2 text-red-500 dark:text-red-400 font-black">
                      Deprecated
                    </span>
                  )}
                </div>
                <div class="text-base font-semibold whitespace-nowrap overflow-hidden text-ellipsis group-hover:underline decoration-wavy" transition:name={post.slug}>
                  {post.data.title}
                </div>
              </a>
            </li>
          )
        })
      }
    </ul>
    <div class="text-center pt-8">
      <a href="/all-posts" class="dark:bg-neutral-800 bg-neutral-100 rounded-full text-sm px-6 py-2 flex items-center w-[10rem] mx-auto hover:shadow-xl dark:hover:bg-neutral-600 transition-shadow">
        <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-selector w-5 h-5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4" /><path d="M16 15l-4 4l-4 -4" /></svg>
        <span class="ml-1">查看全部文章</span>
      </a>
    </div>
  </div>
</IndexLayout>
