---
import BaseLayout from '../layouts/base-layout.astro'
import {getCollection} from 'astro:content'

const allPosts = await getCollection('posts')

const extractDateFromSlug = (slug) => {
  let date_array = slug.split('-')
  let year = date_array[0]
  let month = date_array[1]
  let day = date_array[2]
  return `${year}-${month}-${day}`
}

allPosts.sort((a, b) => {
  let dateA = new Date(extractDateFromSlug(a.slug)).getTime()
  let dateB = new Date(extractDateFromSlug(b.slug)).getTime()
  return dateB - dateA
})

const postsByYears = allPosts.reduce((acc, post) => {
  let date = extractDateFromSlug(post.slug)
  let year = date.split('-')[0]
  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})

const years = Object.keys(postsByYears).sort((a, b) => Number(b) - Number(a))
---

<BaseLayout highlight="posts">
  <div>
    <div class="py-[3rem]"></div>
    {years.map(y => {
      return (
        <>
          <div class="mt-4 text-sm opacity-70 mb-4">
            {y}
          </div>
          <ul class="mb-8">
            {
              postsByYears[y].map((post) => {
                let date = extractDateFromSlug(post.slug)
                let dateTimestamp = new Date(date).getTime()

                let datePath = date.split('-').join('/')
                let postPath = post.slug.slice(11)

                let postUrl = `/${datePath}/${postPath}`

                if(dateTimestamp > new Date('2024-05-30').getTime()){
                  postUrl = `/${postPath}`
                }

                return (
                  <li class="group">
                    <a href={`${postUrl}`} class="block mb-4">
                      <div class="text-base font-medium whitespace-nowrap overflow-hidden text-ellipsis group-hover:underline underline-offset-4 mt-[-5px]" style={{
                        textDecoration: post.data.deprecated ? 'line-through' : 'none',
                        opacity: post.data.deprecated ? 0.8 : 1
                      }}>
                        {post.data.title}
                      </div>
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </>)
    })}
  </div>
</BaseLayout>
