<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%- page.title %> - <%- config.title %></title>
  <%- partial('partial/meta') %>
</head>
<body>
<%- partial('partial/header') %>

<div id="app">
  <main class="index">
    <h1 class="mb-4">
      <%- page.title %>
    </h1>
    <div class="pt-[2rem] pb-[1rem]">
      <% site.data.data.links.forEach(el => { %>
        <a
          class="item flex items-center content-center mb-4 py-4 hover:px-4 transition-all hover:bg-neutral-50 hover:shadow dark:hover:bg-neutral-700 group"
          href="<%- el.url %>" target="_blank" rel="friend colleague noopener">
          <div
            class="avatar rounded-full w-[2rem] h-[2rem] overflow-hidden dark:bg-neutral-700 bg-white shadow transition-all">
            <img src="<%- el.avatar %>" alt="头像">
          </div>
          <div class="ml-4">
            <div class="text-[1rem]"><%- el.name %></div>
            <div class="text-xs mt-2">
              <%- el.slogan %>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
    <%- partial('partial/comment') %>
  </main>

  <% if(page.issue){ %>
    <input type="hidden" name="ISSUE_NUMBER" value="<%- page.issue %>">
  <% } %>
  <%- partial('partial/footer') %>
</div>

<script src="/lib/axios.min.js"></script>
<script src="/lib/vue.min.js"></script>
<script src="/lib/howler.min.js"></script>
<script src="/lib/marked.min.js"></script>
<script src="/lib/xss.min.js"></script>
<script src="/js/post.js" type="module"></script>
</body>
</html>
