<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%- config.title %></title>
  <%- partial('partial/meta') %>
</head>
<body>
  <%- partial('partial/header') %>
  <main class="index">
    <h2 style="margin-bottom: 20px; font-size: 24px; margin-top: 20px; font-style: italic;">_Posts</h2>
    <ul style="margin-top: 0">
      <% page.posts.forEach(item => { %>
        <li>
          <% let tags = item.tags.map(el => {
            return el.name
          }) %>
          <a href="<%- url_for(item.path) %>">
            <div class="title">
              <%- item.title %>
              <% if(item.deprecated) { %>
                <span class="deprecated">Deprecated</span>
              <% } %>
            </div>
            <div class="date">
              <%- moment(item.date).format('YYYY-MM-DD') %>
              <% tags.forEach((tag, index) => { %>
                <span class="sep">/</span>
                <div class="tag-item"><%- tag %></div>
              <% }) %>
            </div>
          </a>
        </li>
      <% }) %>
    </ul>
    <h2 style="margin-bottom: 40px; font-size: 24px; margin-top: 20px; font-style: italic;">
      _Friends
    </h2>
    <ul style="margin-top: 20px">
      <% site.data.data.links.forEach(el => { %>
        <li>
          <a href="<%- el.url %>" style="padding: 0">
            <div class="title">
              <%- el.name %>
            </div>
            <span class="slogan">
            - <%- el.slogan %>
          </span>
          </a>
        </li>
      <% }) %>
    </ul>
  </main>
  <%- partial('partial/footer') %>
</body>
</html>
