<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%- config.title %></title>
  <%- partial('partial/meta') %>
</head>
<body>
  <%- partial('partial/header') %>
  <main class="index">
    <h2>Posts</h2>
    <ul>
      <% page.posts.forEach(item => { %>
        <li>
          <% let tags = item.tags.map(el => {
            return el.name
          }) %>
          <a href="<%- url_for(item.path) %>">
            <div class="title">
              <%- item.title %>
              <% if(item.deprecated) { %>
                <span class="deprecated">Deprecated</span>
              <% } %>
            </div>
            <div class="date">
              <%- moment(item.date).format('YYYY-MM-DD') %>
              <% tags.forEach((tag, index) => { %>
                <span class="sep">/</span>
                <div class="tag-item"><%- tag %></div>
              <% }) %>
            </div>
            <div class="desc">
              <%- item.desc %>
            </div>
          </a>
        </li>
      <% }) %>
    </ul>
    <nav class="pagination">
      <% if (page.prev){ %>
        <a href="<%- url_for(page.prev_link) %>" class="alignleft prev">上一页</a>
      <% } %>
      <% if (page.next){ %>
        <a href="<%- url_for(page.next_link) %>" class="alignright next">下一页</a>
      <% } %>
      <span class="total"><%- `${page.current} / ${page.total}` %></span>
    </nav>
    <h2>
      Friends </h2>
    <ul>
      <% site.data.data.links.forEach(el => { %>
        <li>
          <a href="<%- el.url %>">
            <div class="title">
              <%- el.name %>
            </div>
            <span class="slogan">
            - <%- el.slogan %>
          </span>
          </a>
        </li>
      <% }) %>
    </ul>
  </main>
  <%- partial('partial/footer') %>
  <%- partial('partial/analytics') %>
  <script src="/js/g-analytics.js"></script>
</body>
</html>
