<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- page.title + ' - ' + config.title %></title>
  <%- partial('partial/meta') %>
  <% if(page.style){ %>
    <%- page.style %>
  <% } %>
</head>
<body>
  <div id="app">
    <header>
      <div class="logo" style="margin-bottom: 30px">
        <a href="<%- config.url %>">
          <img src="/images/logo-black.png" class="dark" alt="<%- config.title %>">
          <img src="/images/logo.png" class="light" alt="<%- config.title %>">
        </a>
      </div>
      <h1>
        <%- page.title %>
      </h1>
    </header>
    <main>
      <% if(page.__post){ %>
        <div class="page-info">
          <%- moment(page.date).format('YYYY-MM-DD') %> /
          <% if(page.deprecated) { %>
            <span class="deprecated">Deprecated</span> /
          <% } %>
          <% if(page.tags) { %>
            <% page.tags.forEach((tag, index) => {%>
              <a href="/tags/<%- tag.name %>"><%- tag.name %></a>
              <% if(index !== page.tags.length - 1) { %>
                /
              <% } %>
            <% }) %>
          <% } %>
        </div>
      <% } %>
      <div class="page-content">
        <%- page.content %>
      </div>
      <%- partial('partial/comment') %>
      <% if(!page.no_donation) { %>
        <%- partial('partial/donate') %>
      <% } %>
      <% if(!is_page()){ %>
        <%- partial('partial/original') %>
      <% } %>
      
    </main>
    <%- partial('partial/footer') %>
    <%- partial('partial/analytics') %>
  </div>

  <% if(page.issue){ %>
    <input type="hidden" name="ISSUE_NUMBER" value="<%- page.issue %>">
  <% } %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.13/vue.min.js" integrity="sha512-9PmLIATEd4w0OxdTHq61p12lQqa8OtDC6nXu0+S1Icb800oxoADle+gaPfmAXLa35KSvk/6bGeNRfi3nq0Hvvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.1.1/marked.min.js" integrity="sha512-+mCmSlBpa1bF0npQzdpxFWIyJaFbVdEcuyET6FtmHmlXIacQjN/vQs1paCsMlVHHZ2ltD2VTHy3fLFhXQu0AMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-xss/0.3.3/xss.min.js" referrerpolicy="no-referrer"></script>
  <script src="/js/post.js"></script>
  <script src="/js/g-analytics.js"></script>
</body>
</html>