<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- page.title + ' - ' + config.title %></title>
  <%- partial('partial/meta') %>
  <% if(page.style){ %>
    <%- page.style %>
  <% } %>
</head>
<body>
<div id="app">
  <%- partial('partial/header') %>
  <main>
    <h1 class="mb-4">
      <%- page.title %>
    </h1>
    <% if(page.__post){ %>
      <div class="page-info">
        <%- moment(page.date).format('YYYY-MM-DD') %> /
        <% if(page.deprecated) { %>
          <span class="deprecated">Deprecated</span> /
        <% } %>
        <% if(page.tags) { %>
          <% page.tags.forEach((tag, index) => { %>
            <a href="/tags/<%- tag.name %>"><%- tag.name %></a>
            <% if(index !== page.tags.length - 1) { %>
              /
            <% } %>
          <% }) %>
        <% } %>
      </div>
    <% } %>
    <div class="page-content">
      <%- page.content %>
    </div>
    <% if(!page.no_donation) { %>
      <%- partial('partial/donate') %>
    <% } %>
    <%- partial('partial/comment') %>
    <% if(!is_page()){ %>
      <%- partial('partial/original') %>
    <% } %>
  </main>
  <%- partial('partial/footer') %>
  <%- partial('partial/analytics') %>
</div>

<% if(page.issue){ %>
  <input type="hidden" name="ISSUE_NUMBER" value="<%- page.issue %>">
<% } %>


<script src="/lib/axios.min.js"></script>
<script src="/lib/vue.min.js"></script>
<script src="/lib/howler.min.js"></script>
<script src="/lib/marked.min.js"></script>
<script src="/lib/xss.min.js"></script>
<script src="/js/post.js" type="module"></script>
</body>
</html>
