---
import GlobalStyle from "../components/global-style.astro"
import Header from "../components/header.astro"
import Nav from "../components/nav.astro"
import Comments from "../components/comments.vue";
import Footer from "../components/footer.astro";
import Meta from "../components/meta.astro";
import Og from "../components/og.astro";
const {title, highlight, issue} = Astro.props.frontmatter
let path = Astro.url.pathname
import '../style/main.scss'
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title} - 一个球的博客</title>
  <GlobalStyle/>
  <Meta/>
  <Og title={title} path={path}/>
</head>
<body>
<aside>
  <Header/>
  <Nav highlight={highlight}/>
  <Footer aside={true}/>
</aside>
<main>
  <div id="app">
    <div class="py-[3rem] italic">{title}</div>
    <div class="page-content">
      <noscript>
        <p class="text-red-500 dark:text-red-400 mb-8">
          看起来你的浏览器禁用了 JavaScript，没关系，你依旧可以正常浏览本博客，不过评论功能将不能使用。
        </p>
      </noscript>
      <slot/>
    </div>
    <Comments client:only="vue" github-issue-id={issue}/>
  </div>
  <Footer/>
</main>
</body>
</html>
