---
import GlobalStyle from "../components/global-style.astro"
const {title, issue} = Astro.props
let path = Astro.url.pathname
import Footer from "../components/footer.astro"
import Comments from '../components/comments.vue'
import Meta from "../components/meta.astro";
import Og from "../components/og.astro";
import '../style/main.scss'
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title} - 一个球的博客</title>
  <GlobalStyle/>
  <Meta/>
  <Og path={path} title={title}/>
</head>
<body>
  <aside>
    <slot name="header"/>
    <Footer aside={true}/>
  </aside>
	<main>
    <div id="app">
      <div class="py-[3rem] italic">{title}</div>
      <noscript>
        <p class="text-red-500 dark:text-red-400 mb-8">
          看起来你的浏览器禁用了 JavaScript，没关系，你依旧可以正常浏览本博客，不过你无法直接在本站使用评论系统。
        </p>
      </noscript>
      <slot name="content"/>
      <Comments client:only="vue" github-issue-id={issue} />
    </div>
    <Footer></Footer>
  </main>
</body>
</html>
