---
import GlobalStyle from "../components/global-style.astro"
const {title, issue} = Astro.props
let path = Astro.url.pathname
import Footer from "../components/footer.astro"
import Comments from '../components/comments.astro'
import Meta from "../components/meta.astro";
import Og from "../components/og.astro";
import '../style/main.scss'
import Nav from "../components/nav.astro"
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title}</title>
  <GlobalStyle/>
  <Meta/>
  <Og path={path} title={title}/>
</head>
<body>
<a class="absolute left-[-9999px] focus:left-[20px] top-[20px] bg-black px-4 py-2 dark:bg-white dark:text-black text-white" href="#app">跳转至正文区域</a>
<aside>
  <slot name="header"/>
  <Footer aside={true}/>
</aside>
<main>
  <div id="app">
    <div class="py-[3rem] italic">{title}</div>
    <noscript>
      <p class="text-red-500 dark:text-red-400 mb-8">
        看起来你的浏览器禁用了 JavaScript，没关系，你依旧可以正常浏览本博客，不过你无法直接在本站使用评论系统。
      </p>
    </noscript>
    <slot name="content"/>
    <Comments issue={issue}/>
  </div>
  <Footer></Footer>
</main>
</body>
</html>
