---
import GlobalStyle from '../components/global-style.astro'
import Header from '../components/header.astro'
import Meta from '../components/meta.astro'
import Og from '../components/og.astro'
import '../style/main.scss'
import dayjs from 'dayjs'
import Nav from "../components/nav.astro"

let {title, tags, deprecated} = Astro.props.frontmatter

if (!tags) {
  tags = []
}

let path = Astro.url.pathname

let postDate = dayjs(Astro.props.frontmatter.date).format('MMMM D, YYYY')
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title set:text={
    title ? (title + ' · Jacky Wong') : 'Jacky Wong'
  }></title>
  <GlobalStyle/>
  <Meta tags={tags}/>
  <Og title={title} path={path}/>
  <script>
    let handleVideoAutoPlay = function () {
      let scrollTop = document.documentElement.scrollTop || document.body.scrollTop
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight

      document.querySelectorAll('.page-content video').forEach((el, index) => {
        let _el = el as HTMLVideoElement
        let aboutToShow = _el.offsetTop - scrollTop - windowHeight

        if (aboutToShow < -50 && _el.paused && _el.muted) {
          _el.play()
        }

        if (aboutToShow < -50 && _el.paused && !_el.muted) {
          _el.setAttribute('preload', 'auto')
        }
      })
    }

    let handleImgClick = function () {
      document.querySelectorAll('.page-content img').forEach((el) => {
        el.addEventListener('click', function () {
          let _el = el as HTMLImageElement
          window.open(_el.src)
        })
      })
    }

    window.addEventListener('load', function () {
      handleVideoAutoPlay()
      handleImgClick()
      window.addEventListener('scroll', handleVideoAutoPlay)
    })
  </script>
</head>
<body>
<aside>
  <a
    class="absolute left-[-9999px] focus:left-[20px] top-[20px] bg-black px-4 py-2 dark:bg-white dark:text-black text-white"
    href="#app">Jump to the main content</a
  >
  <div class="hidden lg:block">
    <Header/>
    <Nav highlight="posts"/>
  </div>
</aside>
<main>
  <div id="app" class="relative">
    <h1 class="text-3xl font-medium lg:pt-[6rem] pt-[3rem] tracking-tight">{title}</h1>
    <div class="text-xs pt-4 flex items-center">
      <span class="opacity-80">{postDate}</span>
      {
        () => {
          if (deprecated) {
            return (
              <>
                <span class="px-1">/</span>
                <span class="text-red-500 font-black">Deprecated</span>
              </>
            )
          }
        }
      }
    </div>

    <div class="page-content mt-[2.5rem]">
      <noscript>
        <p class="text-red-500 dark:text-red-400 mb-8">
          Looks like your browser has javascript disabled, it's ok, you can still browse this blog.
        </p>
      </noscript>
      <slot/>
      <p class="pt-[3rem]">
        <a href="/posts">← Posts</a>
      </p>
    </div>
  </div>
</main>
</body>
</html>
