---
import GlobalStyle from '../components/global-style.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import Comments from '../components/comments.vue'
import Meta from '../components/meta.astro'
import Og from "../components/og.astro";
import Toc from '../components/toc.vue'
import FakeToc from '../components/fake-toc.astro'
import '../style/main.scss'

let {title, tags, style, deprecated, issue, wordsCount} = Astro.props.frontmatter

let {year, month, date, slug} = Astro.params

if (!tags) {
  tags = []
}

let style_str = style ? style : ''

let path = Astro.url.pathname

let transitionSlug = `${year}-${month}-${date}-${slug}`
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title} - 一个球的博客</title>
  <GlobalStyle/>
  <Meta tags={tags}/>
  <Og title={title} path={path} slug={`${year}-${month}-${date}-${slug}`}/>
</head>
<body>
<input type="hidden" value={style_str} id="customStyle"/>
<script>
  try {
    let styleTag = document.createElement('style')
    let customStyleInput = document.getElementById('customStyle')
    styleTag.innerHTML = customStyleInput.value
    document.head.appendChild(styleTag)
  } catch (e) {
  }
</script>
<aside>
  <Header/>
  <FakeToc headings={Astro.props.headings}/>
  <Toc data={Astro.props.headings} client:only="vue"/>
  <Footer aside={true}/>
</aside>
<main>
  <div id="app">
    <h1 class="text-3xl font-black pt-[3rem]" transition:name={transitionSlug}>{title}</h1>
    <div class="text-xs pt-4">
      <span class="opacity-80 italic">{wordsCount}字，{Math.ceil(wordsCount / 220)}分钟</span>
      <span class="px-1">/</span>
      <span class="opacity-80">{`${year}-${month}-${date}`}</span>
      {
        () => {
          if (deprecated) {
            return (
              <>
                <span class="px-1">/</span>
                <span class="text-red-500 font-black">Deprecated</span>
              </>
            )
          }
        }
      }
    </div>
    <div class="text-xs pt-4 pb-[2.5rem] flex items-center flex-wrap ml-[-.25rem]">
      {
        tags.map((tag, index) => {
          return (
            <>
              <a
                class="dark:bg-neutral-800 bg-neutral-100 hover:text-white hover:bg-neutral-800 dark:hover:text-black dark:hover:bg-white rounded-3xl px-2 py-1 mb-2"
                transition:name={tag}
                class:list={{
                  "ml-0": index === 0,
                  "ml-2": index !== 0
                }} href={`/tags/${tag}`}>{tag}</a>
            </>
          )
        })
      }
    </div>
    <div class="page-content">
      <noscript>
        <p class="text-red-500 dark:text-red-400 mb-8">
          看起来你的浏览器禁用了 JavaScript，没关系，你依旧可以正常浏览本博客，不过评论功能将不能使用。
        </p>
      </noscript>
      <slot></slot>
    </div>
    <Comments client:only="vue" github-issue-id={issue}/>
  </div>
  <Footer/>
</main>
<script>
  let handleVideoAutoPlay = function () {
    let scrollTop =
      document.documentElement.scrollTop || document.body.scrollTop
    let windowHeight =
      document.documentElement.clientHeight || document.body.clientHeight

    document
      .querySelectorAll('.page-content video')
      .forEach((el, index) => {
        let aboutToShow = el.offsetTop - scrollTop - windowHeight

        if (aboutToShow < -50 && el.paused && el.muted) {
          el.play()
        }

        if (aboutToShow < -50 && el.paused && !el.muted) {
          el.setAttribute('preload', 'auto')
        }
      })
  }

  let handleImgClick = function () {
    document.querySelectorAll('.page-content img').forEach((el) => {
      el.addEventListener('click', function () {
        window.open(el.src)
      })
    })
  }

  window.addEventListener('load', function () {
    handleVideoAutoPlay()
    handleImgClick()
    window.addEventListener('scroll', handleVideoAutoPlay)
  })
</script>
</body>
</html
>
